<div class="fixed top-0 left-0 w-full z-10">
    <div class="flex justify-around items-center py-2 bg-slate-300">
        <app-link title="Home" path={{linkPathHome}} />
        <app-link title="Blogs" path={{linkPathBlogs}} />
        <app-link title="Alpha" path={{linkPathAlpha}} />
        <app-link title="Example" path={{linkPathExample}} />
        <app-link title="Format" path={{linkPathFormat}} />
        <app-link title="Hello" path={{linkPathHello}} />
        <app-link title="Admin" path={{linkPathAdmin}} />
    </div>
</div>
<div class="h-9"></div>